.sm-head{
    line-height: 1;
    margin: 0;
    padding: 0;
}
.text-head{
    color: #2B2B2B;
    font-family: "Nunito", Sans-serif;
    font-size: 35px;
    font-weight: 700;
}
.g-i-t{
    color: #000000;
    font-family: "Nunito", Sans-serif;
    font-size: 50px;
    font-weight: 800;
}
.sm-head{
    color: #DB3056D4;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}
.contact-img{
    border-radius: 20px 20px 20px 20px;
    display: inline-block;
    vertical-align: middle;
    border: none;
    box-shadow: none;
    height: 350px;
    max-width: 100%;
}
.contact{
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    height: 350px;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #30ACDB;
    border-radius: 30px 30px 30px 30px;
    color: white;
}
.contact .col-md-6 p{
    margin: 0px;
    padding: 0px;
}
.send-btn{
    background-color: #FB8B24;
    font-family: "Viga", Sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: #FFFFFF;
    box-shadow: 0px 12px 29px -4px rgba(0, 0, 0, 0.19);
    border-radius: 40px 40px 40px 40px;
    padding: 15px 35px 15px 35px;
    border: none;
    transition: 0.3s;
}
.send-btn:hover{
    background-color: #17BEBB;
}
.contact-form input, 
.contact-form textarea {
    border: 2px solid #DB3056;
}
